
input[type="text"]
{
background-color: lightblue;
border: black;
border-radius: 15px;

}
input[type="password"]
{
background-color: lightblue;
border: black;
border-radius: 15px;
}
ul > li 
{
    color: Red;
}
h1 + p 
{
    font-weight: bolder ;
    color:darkorchid;
}
a:hover
{
    color: red;
}
li:nth-child(3)
{
    background-color: lightblue
}
div:not(class3)
{
    border: 2px dashed red;
}
p::first-letter
{
font-size: 200%;
color: violet;
}
